name: fly
on: [push]

env:
  FLY_API_TOKEN: ${{ secrets.FLY_API_TOKEN }}

jobs:
  deploy-fly-go:
    name: Deploy fly-go
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: superfly/flyctl-actions/setup-flyctl@master
      - run: cd fly-go && flyctl deploy --remote-only

  deploy-fly-ruby:
    name: Deploy fly-ruby
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: superfly/flyctl-actions/setup-flyctl@master
      - run: cd fly-ruby && flyctl deploy --remote-only
